@import "../../settings.scss";

.loader {
  $size: 50px;

  display: flex;
  width: $size;
  height: $size;

  background-image: url("./loader.svg");
  background-repeat: no-repeat;
  background-size: contain;
}