$blue-color: #69a3ff;
$gray-color: #ebebeb;
$gray-color__light: #f1f1f1;
$gray-color__semi-dark: #b4b4b4;
$gray-color__dark: #737c84;
$orange-color: #ff9632;
$red-color: #ed1946;
$white-color: #ffffff;

$base-box-shadow: 2px 2px 2px rgba(51, 51, 51, .1);

$base-font-family: 'Helvetica', 'Arial', sans-serif;
$base-font-size: 16px;
$base-font-size__medium: $base-font-size + ($base-font-size / 8);