$gray-color: #ebebeb;
$gray-color__light: #f1f1f1;
$gray-color__semi-dark: #b4b4b4;
$gray-color__dark: #737c84;
$red-color: #ed1946;
$orange-color: #ff9632;
$blue-color: #69a3ff;

$main-font-family: 'Helvetica', 'Arial', sans-serif;