@import "normalize.css/normalize";
@import "settings.scss";

body {
  margin: 0;
  padding: 0;

  background-color: $gray-color__light;
  
  color: $gray-color__dark;
  font-family: $base-font-family;
}